<!--Marius Saunders
    QA Project 2
    Kendama Ordering
-->

{% extends 'layout.html' %}

{% block title %}
    <h1>Order History</h1>
{% endblock title %}
{% block body %}

    <p>You ordered a <u>{{current_order.dama}}</u> and a <u>{{ current_order.accessory }}</u> at the total price of <u>£{{ current_order.price }}</u></p>

    <style>
        td {
            width: 150px;
            text-align: center;
            border: 1px solid rgb(255, 255, 255);
            padding: 5px;
         }
   </style>

    <table>
        <thead>
            <tr>
                <th>Dama</th>
                <th>Accessory</th>
                <th>Total Price</th>
            </tr>
        </thead>    
        <tbody>
            {% for row in orders %} 
              <tr>
                  <td>{{row.dama}}</td>
                  <td>{{row.accessory}}</td>
                  <td>{{row.price}}</td>
              </tr>
            {% endfor %}
        </tbody>
    </table>
       
{% endblock body %}