<!--Marius Saunders
    QA Project 1
    Frankendama Sharing
-->

<!--layout html file
    Defines the NavBar
    Has a title, paragraph and img that all .html pages mimic
-->
<head>
    <title>Kendama Ordering Service</title>
    <link rel="icon" href="https://image.flaticon.com/icons/png/512/3659/3659638.png">
</head>


<body style="font-family:verdana; background-color: antiquewhite;">

    <h1>Kendama Ordering</h1></br>  
    <h3>This is a service for ordering a random kendama and an accessory and reutrns the total price including shipping.</h2>
    <p>A kendama looks like this:</p>
    <img src="https://content.fun-japan.jp/renewal-prod/cms/articles/content/a015cffdfa1d1c1ee1e1657d144433acda6861a5.jpg" width="450" height="300"/>

    {% block title %}  
    {% endblock title %}
    <br>
    <br>
    
    {% block body %}
    {% endblock body %}

</body>
