<!--Marius Saunders
    QA Project 1
    Frankendama Sharing
-->

<!--layout html file
    Defines the NavBar
    Has a title, paragraph and img that all .html pages mimic
-->
<head>
    <title>Kendama Ordering Service</title>
    <link rel="icon" href="https://thumbnail.imgbin.com/4/6/17/imgbin-kendama-toy-united-states-ball-play-toy-gwjV7jywdL9gk108h2YH59PS5_t.jpg"> 
</head>


<body>

    <h1>Kendama Ordering</h1></br>      

    {% block title %}  
    {% endblock title %}
    <br>
    
    {% block body %}
    {% endblock body %}

</body>