<!--Marius Saunders
    QA Project 1
    Frankendama Sharing
-->

<!--layout html file
    Defines the NavBar
    Has a title, paragraph and img that all .html pages mimic
-->
<head>
    <title>Kendama Ordering Service</title>
    <link rel="icon" href="https://cdn.shopify.com/s/files/1/2580/9234/products/maplebgless_250x250@2x.png?v=1612439703"> 
</head>


<body>

    <h1>Kendama Ordering</h1></br>      

    {% block title %}  
    {% endblock title %}
    <br>
    
    {% block body %}
    {% endblock body %}

</body>